.experts {
  margin: 0 80px;
  padding: 0 80px;
  position: relative;
}
.next-btn,
.back-btn {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  padding: 0;
  width: 50px;
  border-radius: 50%;
  cursor: pointer;
  background: orange;
}
.back-btn {
  right: auto;
  left: 0;
}
.slider {
  overflow: hidden;
}
.slider ul {
  display: flex;
  width: 200%;
  overflow-x: hidden;
  transition: 0.5s;
  /* transform: translateX(-25%); */
}
.slider ul li {
  list-style: none;
  width: 50%;
  padding: 20px;
}
.slide {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.05);
  padding: 10px;
  border-radius: 10px;
  color: #676767;
  line-height: 1.4;
  margin: 0 10px;
}
/* .user-info img { 
    width: 250px;
    height: 250px;
}*/

.slide img {
  width: 65px;
  border-radius: 50%;
  margin-right: 10px;
  border: 4px solid;
}
.expert-info {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  font-size: 15px;
}
.expert-info h3 {
  color: #0b5504;
}

/* -----media query----- */
@media (max-width: 800px) {
  .experts {
    padding: 0 40px;
  }
  .next-btn,
  .back-btn {
    width: 35px;
  }
  .experts ul li {
    padding: 10px;
  }
  .slide {
    padding: 10px;
  }
  .slide img {
    width: 50px;
    border: 3px solid #676767;
  }
}
@media (max-width: 600px) {
  .expert-info {
    display: block;
    margin-bottom: 10px;
    font-size: 12px;
  }
  .expert-info h3 {
    font-size: 16px;
  }
  .slider p {
    font-size: 12px;
  }
}
